
<app-menubar ></app-menubar>

<div >
  <p-card >
    <p-table [value]="hackPresenter.groups" styleClass="p-datatable-gridlines" responsiveLayout="scroll" >
      <ng-template pTemplate="header">
          <tr>
              <th *ngFor= "let hd of hackPresenter.headers">{{hd}}</th>
            </tr>
      </ng-template>
      <ng-template pTemplate="body" let-gr>
        <tr >
          <td ><b>{{gr.group}}</b></td>
          <td *ngFor="let ex of gr.exercices">
              <button *ngIf="ex.resolved;else errorContent" pButton pRipple type="button" label="Completado" icon="pi pi-check"  class="p-button-sm p-button-success"></button>
             
              <ng-template #errorContent>
                <button pButton pRipple type="button" label="No Completado"  (click)="showDialog(ex)" icon="pi pi-times"  class="p-button-sm p-button-danger"></button>
                <p-dialog header="{{dialogData.header}}" [(visible)]="dialogData.display" [style]="{width: '50vw'}">
                  <p>{{dialogData.description}}</p>
                  <ng-template pTemplate="footer">
                      <p-button icon="pi pi-check" (click)="showDialog(ex)" label="Aceptar" styleClass="p-button-text"></p-button>
                  </ng-template>
              </p-dialog>
              </ng-template>
          
          </td>

        </tr>
      </ng-template>
    </p-table>
  
  </p-card >


</div>


